@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:wght@400;700;900&display=swap');

@import url('./pets.css');
@import url('./quiz.css');

* {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #a1c9b3, #dfc3c3, #db9999) no-repeat;
  font-size: 20px;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Forum', serif;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: color 0.4s ease;
}

a:hover {
  color: var(--color-accent);
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

h3 {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main {
  min-height: 500px;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #a1c9b3, #dfc3c3, #db9999) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  background-image: url('../images/paw.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 80px;
  height: 80px;
  border: 5px solid #9e9b9b;
  border-top-color: #1a1a1a;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.container {
  background-color: #fff;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  max-width: 1280px;
  margin: 40px auto;
}

.paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
  padding: 70px 10px;
}

/* header  */
#header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
  border-radius: 30px;
  transition: box-shadow 0.4s ease;
}

.header-scroll {
  background-color: rgba(255, 255, 255, 0.98) !important;
  border-radius: 0 0 30px 30px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 600px) {
    margin: 0 10px;
  }
}

.header-wrapper .logo {
  height: 45px;
  width: 45px;
  @media (max-width: 600px) {
    height: 30px;
    width: 30px;
  }
}

.header-wrapper .logo:hover {
  animation: logoRotate 1s linear infinite;
}

.header-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  @media (max-width: 600px) {
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header-item {
  position: relative;
  padding-bottom: 10px;
  @media (max-width: 600px) {
    padding-bottom: 0;
  }
}

.header-item:hover .header-modal {
  display: block;
  animation: block 0.6s forwards;
}

.header-modal {
  display: none;
  position: absolute;
  top: 30px;
  left: -20px;
  z-index: 1;
}

.header-modal li {
  position: relative;
  padding: 50px 250px 50px 20px;
  margin: 10px 0;
  border-radius: 12px;
  opacity: 0;
  animation: fade 0.6s ease forwards;
}

.header-modal li img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.9);
}

.header-modal li a {
  cursor: pointer;
  color: #fff;
  font-size: 22px;
}
.header-modal li a:hover {
  color: #ab23e5;
}

.header-modal li:hover img {
  transition: all 0.6s ease;
  filter: blur(2px);
}

.header-modal li:nth-of-type(1) {
  animation-delay: 0.3s;
}
.header-modal li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.header-modal li:nth-of-type(3) {
  animation-delay: 0.5s;
}

.btn-header {
  background-color: #db9999;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  @media (max-width: 600px) {
    font-size: 12px;
    padding: 10px 10px;
  }
}

.btn-header:hover {
  background-color: #bb9f9f;
}
/* banner */

#banner {
  background-repeat: no-repeat;
  background-size: cover;
}

.main-banner {
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
}
.banner-mobile {
  opacity: 0.5;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: url('https://img.freepik.com/free-photo/gray-kitty-with-monochrome-wall-her_23-2148955130.jpg?semt=ais_hybrid&w=740&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (max-width: 900px) {
    display: block;
    background-position: 70%;
  }
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding: 0 40px;
  @media (max-width: 800px) {
    gap: 10px;
    width: 100%;
    text-align: center;
    align-items: center;
  }
}

.column:first-child {
  animation: slideLeft 1s ease forwards;
}

.column h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  line-height: 1.2;
  font-size: calc(16px + 16 * (100vw - 320px) / 960);
}

.column .description {
  color: #5d5d5d;
  font-size: 25px;
  font-size: calc(10px + 15 * (100vw - 320px) / 960);
  @media (max-width: 600px) {
    color: #000;
  }
}

.banner-buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.banner-buttons .btn {
  padding: 20px 30px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: none;
  color: #000;
  background-color: #fff;
  transition: all 0.4s ease;
  border-radius: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  @media (max-width: 1000px) {
    padding: 15px 15px;
  }
  @media (max-width: 800px) {
    padding: 10px 10px;
  }
}

.banner-buttons .btn img {
  max-width: 50px;
  max-height: 50px;
  @media (max-width: 1000px) {
    max-width: 30px;
    max-height: 30px;
  }
}

.btn span {
  @media (max-width: 800px) {
    display: none;
  }
}

.banner-buttons .btn-active {
  background-color: #db9999;
}

.btn:hover {
  background-color: #c47ce3;
}

.btn-pulse {
  animation: scale 2s ease infinite;
}

.column .btn-link {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 200px;
  font-size: 20px;
  padding: 20px 45px;
  margin-bottom: 20px;
  background-color: #e35b31;
  color: #fff;
  border-radius: 16px;
  transition: all 0.5s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  @media (max-width: 1000px) {
    padding: 15px 20px;
    max-width: 150px;
  }
  @media (max-width: 800px) {
    font-size: 12px;
    padding: 10px 15px;
  }
}

.btn-link:hover {
  background-color: #7e6faa;
  color: #fff;
}

.column-img {
  animation: opacity 2s ease;
  @media (max-width: 900px) {
    display: none;
  }
}

/* explore */
.explore {
  background-color: #e0daef;
}

.explore-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 100px;
}

.explore-card {
  width: 200px;
  height: 300px;
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 0.4s ease;
}

.explore-card:hover {
  color: #fff;
  transform: scale(1.1) rotateY(-360deg);
  background-color: #a375bd;
  transition: all 0.2s ease;
  background-image: url('https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?q=80&w=2943&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: end;
  background-repeat: no-repeat;
  animation: opacity 0.5s linear;
}
.explore-card img {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px #b68cce solid;
  animation: opacity 0.5s linear;
}

/* advantages  */

#advantages {
  margin-bottom: 80px;
}

.advantages-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-height: 200px;
  min-height: 80px;
}

.advantages-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  transition: transform 1s ease;
  @media (max-width: 650px) {
    gap: 10px;
  }
}

.advantages-slider img {
  border-radius: 30px;
  width: 200px;
  height: 200px;
  transition: all 0.1s ease;
  animation: opacity 0.5s linear;
  @media (max-width: 1000px) {
    width: 150px;
    height: 150px;
  }
  @media (max-width: 800px) {
    width: 100px;
    height: 100px;
  }
  @media (max-width: 600px) {
    width: 80px;
    height: 80px;
  }
  @media (max-width: 500px) {
    border-radius: 20px;
    width: 60px;
    height: 60px;
  }
}

.advantages-slider .current {
  width: 300px;
  height: 300px;
  @media (max-width: 1000px) {
    width: 200px;
    height: 200px;
  }
  @media (max-width: 600px) {
    width: 120px;
    height: 120px;
  }
  @media (max-width: 500px) {
    width: 80px;
    height: 80px;
  }
}

.prev-button img,
.next-button img {
  width: 50px;
  height: 50px;
  @media (max-width: 1000px) {
    width: 30px;
    height: 30px;
  }
  @media (max-width: 600px) {
    width: 20px;
    height: 20px;
  }
}

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 10px;
  padding-bottom: 20px;
}

.footer-list {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
}

.social-icon li {
  width: 30px;
  height: 30px;
  background-color: #e2d9e7;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.4s ease;
}

@media (max-width: 500px) {
  .footer-list li a {
    font-size: 16px;
  }
}

.social-icon li:hover {
  background-color: #7e6faa;
}

/* animation */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes logoRotate {
  0% {
    transform: scale(1.2) rotate(20deg);
  }
  50% {
    transform: scale(1.2) rotate(-20deg);
  }
  100% {
    transform: scale(1.2) rotate(20deg);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
